h1 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  margin-left: 10px;
}
.header img:hover {
  cursor: pointer;
}

.info,
.task {
  text-align: center;
}low;
}

.two,
.three,
.modificator,
.mixes,
.selectors {
  margin-left: 30%;
}
.two ul,
.three ul,
.modificator ul,
.mixes ul,
.selectors ul {
  padding: 0;
}

.pic {
  display: flex;
  justify-content: center;
}

.mixes-green {
  color: green;
}