h1 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  margin-left: 10px;
}
.header img:hover {
  cursor: pointer;
}

.variables_container,
.variables_container_task {
  text-align: center;
}

.variables_container_hover:hover {
  color: yellow;
}

.variables_container_color:hover {
  color: blue;
}