.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about {
    margin-left: 30%;
    ul {
        padding: 0;
    }
    
}
.bold {
    font-weight: 700;
    font-size: 20px;
    &:hover {
        background-color: yellow;
    }
}
.two, 
.three,
.modificator,
.mixes,
.selectors {
    margin-left: 30%;
    ul {
        padding: 0;
    }
}
.pic {
    display: flex;
    justify-content: center;
}
.mixes-green {
    color: green;
}