<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bem.css">
    <title>Методологія БЕМ</title>
</head>
<body>
    <div class="header">
        <h1>Методологія БЕМ</h1>
        <a href="../../index.html">
            <img src="../Variables/img/home.gif" alt="home">
        </a>
    </div>
    <div class="about">
        <p>
            <span class="bold">Методологія БЕМ</span> (Блок, Елемент, Модифікатор) створена в Яндексі для розробки сайтів, 
           <br> які необхідно робити швидко, а підтримувати довгі роки. Вона дозволяє створювати
           <br> блоки інтерфейсу, які можна розширювати та повторно використовувати - компоненти.
        </p>
        <div class="advantages">
            <ul>Переваги:
                <li>
                    Простота селекторів - всі селектори - це класи, тому ви не будете працювати з каскадом. 
                    <br> BEM уникає конфліктів імен, використовуючи унікальні контекстні імена класів для 
                    <br> кожного блоку, елемента і модифікатора.
                </li>
                <li>
                    Повторне використання - створюючи незалежні компоненти, ви можете повторно використовувати 
                    <br> їх в поточному та інших проектах.
                </li>
                <li>
                    Структура стилів - методологія дає вашому CSS-коду структуру, яка залишається простою і зрозумілою.
                </li>
                <li>
                    Самодокументування - строгі правила іменування класів призводять до зрозумілої HTML-розмітки і 
                    <br> впорядкованих стилів. Вивчаючи елемент або блок, ви отримуєте всю необхідну інформацію 
                    <br> безпосередньо з HTML-розмітки.
                </li>
            </ul>
        </div>
    </div>
    <div class="pic">
        <img src="./img/bem.jpg" alt="BEM">
    </div>
    <div class="two">
        <p>
           <span class="bold">Блок</span>  - це функціонально незалежний компонент, який може використовуватися повторно. Блок можна поставити в 
            <br> іншу частину сторінки або проекту, і він буде мати сенс. Наприклад, блоком може бути галерея, стаття, 
            <br> шапка, форма, віджет сайдбара, сам сайдбар, навігація тощо. Ім'я класу блоку
        </p>
        <ul>
            <li>
                Може складатися тільки з латинських літер, цифр і тире.
            </li>
            <li>
                Повинно відповідати на питання «Що це?» - widget, gallery, navigation, post.
            </li>
            <li>
                Не повинно відповідати на питання «Як виглядає?» - red-text, round-button тощо.

            </li>
        </ul>
        <p>
            В HTML і CSS, блок - це просто базовий клас компонента
        </p>
    </div>

    <div class="three">
        <p>
            <span class="bold">Елемент</span> - складова частина блоку, яка не має окремого значення і не може використовуватися окремо від нього. Наприклад, елемент меню, 
            <br> заголовок або текст у статті, зображення галереї тощо. Ім'я класу елемента
        </p>
        <ul>
            <li>
                Обов'язково формується за схемою блок__елемент. Ім'я блоку задає простір імен, який гарантує залежність його елементів.
            </li>
            <li>
                Повинно відповідати на питання «Що це?», наприклад блок__item, блок__title, блок__link, блок__image тощо.
            </li>
            <li>
                Не повинно відповідати на питання «Як виглядає?», наприклад блок__big-link, блок__blue-text, блок__round-button тощо.
            </li>
        </ul>
        <div class="example">
            <img src="../Bem/img/example.jpg" alt="example">
        </div>
        <div class="difference">
            <h3>ЯК ВІДРІЗНИТИ БЛОК ВІД ЕЛЕМЕНТУ?</h3>
            <p>
                Задайте собі питання: «Ця сутність може знадобитися мені окремо і самостійно? Чи вона потрібна тільки всередині її батька?». 
                <br> Якщо потрібна окремо - це блок, якщо має  значення тільки як частина - це елемент.
            </p>
        </div>
        
    </div>

    <div class="modificator">
        <p>
            <span class="bold">Модифікатор</span> - це додатковий клас-модифікатор, що визначає зміну зовнішнього вигляду, стану або поведінки блоку або елемента.
        </p>
        <ul>
            Ім'я класу модифікатора:
            <li>
                Повинно бути простим, що описує зміну, яка вноситься.
            </li>
            <li>
                Обов'язково формується за схемою блок--модифікатор або блок__елемент--модифікатор.
            </li>
        </ul>
        <p> Розглянемо приклад:
            <a href="https://codepen.io/goit-academy/pen/LYNQwJd" target="_blank">Приклад</a>
        </p>
    </div>

    <div class="mixes">
        <p>
            <span class="bold">Мікси </span>(міксування, суміш) - комбінування декількох класів блоку та елемента в одному тезі. Тобто це можливість 
            <br> зробити один блок елементом іншого блоку.
        </p>
        <p>
            Такий підхід дозволяє додати деякі стилі, наприклад зовнішню геометрію або позиціонування, необхідні тільки у певному місці:
        </p>
        <div class="mixes-pic">
            <img src="../Bem/img/mix.jpg" alt="mix example">
        </div>
        <p>
            <br> Наприклад, для блоку <span class="mixes-green">logo</span>, тільки всередині блоку <span class="mixes-green">page-header</span>, необхідний зовнішній правий відступ 50px, щоб відсунути навігацію. 
            <br> Можна створити клас-модифікатор <span class="mixes-green">logo--header</span> або <span class="mixes-green">logo--margin-right</span>, але виглядає це вкрай сумнівно, особливо імена класів. 
            <br> Клас-модифікатор використовується для зміни зовнішнього вигляду або поведінки блоку, а не для встановлення йому зовнішньої геометрії.
        </p>
        <p>
            У таких ситуаціях використовуються мікси. Ім'я класу складається з імен блоку батька і блоку нащадка за схемою <span class="mixes-green">батько__нащадок</span>. 
            <br> Зробимо блок <span class="mixes-green">logo</span> елементом блоку <span class="mixes-green">page-header</span>, додавши ще один клас-мікс <span class="mixes-green">page-header__logo</span>.
        </p>
    </div>

    <div class="selectors">
        <span class="bold">Селектори</span>
        <p>
            Методологія BEM забороняє використання селекторів тегів, ідентифікаторів або комбінованих селекторів на зразок <span class="mixes-green">div.class1.class2</span>. 
            <br> Стилі блоків, елементів і модифікаторів описуються як прості селектори класу.
        </p>
    </div>
</body>
</html>