<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/inserted.css">
    <title>Вкладені правила</title>
</head>
<body>
    <div class="header">
        <h1>Вкладені правила</h1>
        <a href="../../index.html">
            <img src="../Variables/img/home.gif" alt="home">
        </a>
    </div>

    <div class="inserted_container">
        <p>
            Подібно до вкладеності тегів в HTML, в SASS можна вкладати CSS-селектори. це одна з найбільш корисних можливостей, яка також 
            <br>часто неправильно використовується. Вкладеність дозволяє робити одні оголошення правил всередині інших. Нижче наведений CSS і 
            <br>SCSS код оформлення секції із заголовком і абзацом:
        </p>
        <div class="inserted_container_img">
            <img src="../InsertedRules/img/css.jpg" alt="css">
            <img src="../InsertedRules/img/scss.jpg" alt="scss">
        </div>
        <p>
            <strong>Конкатенація селекторів</strong>​ - <span>символ & (амперсанд)</span> дозволяє вказати, в яке місце необхідно підставити батьківський селектор. 
            <br>Запишемо імена класів з попереднього прикладу, використовуючи БEM-нотацію в CSS і SCSS
        </p>
        <p>
            Що робити, якщо селектори для :hover і :focus в CSS згруповані? Без проблем групуємо в SASS, не забуваючи поставити амперсанд (&) там, де необхідно 
            <br> підставити батьківський селектор:
        </p>
    </div>
</body>
</html>