.header {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        margin-left: 10px;
    }
}
.inserted_container {
    text-align: center;
    .inserted_container_img {
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        justify-content: center;
    }
    img {
        width: 654px;
        height: 303px;
    }
    & span:hover,
      span:focus {
        background-color: yellow;
        cursor: pointer;
    }
}